.feedbackBtn {
  display: inline-block;
  margin-right: 15px;
  box-shadow: var(--boxShadow);
  cursor: pointer;
  transition: transform 250ms linear;
  background-color: rgb(15, 134, 189);
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}
.feedbackBtn:hover {
  transform: scale(1.2);
}
